html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(151, 130, 255); */
}

header {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-image: url(../imgs/working.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  position: relative;

  height: 80vh;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(177, 20, 143); */
}

.logo {
  display: block;
  background-image: url(../imgs/tamar-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 140px;
  position: relative;
  left: 5%;

  z-index: 0;
}

/* ====MENU SETTINGS==== */

.menu {
  display: flex;
  flex-flow: column;
  width: 165px;
  height: 305px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  position: relative;
  top: 10px;
  left: -200px;
  z-index: 1000;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(20, 177, 35); */
}

.menu__ul {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  max-width: 115%;
  width: 160px;
  height: 300px;
  position: relative;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(228, 152, 37); */
}

.main-nav-tab {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  border-bottom: 1px solid;
  background-color: rgba(255, 255, 255, 0.808);

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(46, 37, 228); */
}

.contact {
  border-bottom: none;
}

.main-nav-tab:hover {
  background-color: rgb(255, 242, 201);
  cursor: pointer;
}

.attrib {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  color: black;
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

/* Hebrew menu items font size */
html[dir='rtl'] .attrib,
.ul-heb .attrib {
  font-size: 0.8rem !important;
}

/* ~~~~ FOR DEBUGGING~~~~*/
/* border: 5px solid rgb(40, 228, 37); */

.attrib-heb {
  font-size: 1.4rem;
  font-family: 'Rubik', sans-serif;
}
#show-menu-button {
  display: none;
}

.languages-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  /* height: 80px; */
  border-top: 1px solid;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.808);

  /* border: 2px solid red; */
}

.languages-container button {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.6);
  border-radius: 5px;
  font-size: 1rem;
  height: 1.6rem;
  width: 2.5rem;
}

input[type='checkbox']:checked + .menu {
  left: 0;
}

.category-item {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  height: 60px;
  background-color: #e1dcc1c7;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid yellowgreen; */
}

.category-item:hover {
  background-color: rgba(202, 173, 183, 0.813);
}

.reveal {
  display: inline;
  left: 160px;
}

.category-text {
  display: flex;
  justify-content: center;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid yellowgreen; */
}

.shoppingcart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 700;
  /* border: 2px solid blue; */
}

.shoppingcart-mobile {
  fill: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  padding: 3px;
  position: relative;
  border-radius: 5px;
}
.cart-number {
  display: none;
}

.cart-number-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  position: absolute;
  left: 55%;
  top: 35%;
  background-color: rgba(255, 255, 255);
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  z-index: 701;
}
.cart-number-mobile-header {
  position: absolute;
  top: 5px;
  left: 70px;
}
.shoppingcart-svg {
  display: none;
}

.toggle-svg {
  display: none;
}

.shoppingcart-svg {
  display: none;
}

.li.cart {
  display: none;
}

#login-tab {
  border-bottom: none;
}

/* ===== END OF MENU SETTINGS==== */

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 25%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(229, 247, 89); */
}

h1 {
  font-weight: 100;
  font-family: Raleway, sans-serif;
  text-align: center;

  align-self: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(40, 228, 37); */
}

.about-title-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: 100;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  z-index: 3;
  text-align: center;
  width: 90%;

  /* Slide up animation */
  opacity: 0;
  animation: slideUpFade 1.2s ease-out 0.5s forwards;
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(30px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
}

/* .first-row-container {

} */

.first-row-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title-and-text-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.aboutme-description {
  width: 95%;
  font-size: 1.2rem;
  padding: 0.5rem;
  line-height: 1.8rem;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  color: rgba(68, 68, 68, 0.9);
  letter-spacing: 0.5px;
  padding: 30px;
}

.description-img {
  width: calc(100% - 2rem);
  margin: 3rem auto 0 auto;
  display: block;
  box-sizing: border-box;
}

.go-to-top {
  position: relative;
  display: inline-block;
  border: none;
  width: auto;
  background: transparent;
  padding: 0;
  margin: 30px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(4, 255, 0); */
}

.arrow-up {
  width: 2rem;
  height: auto;
  display: block;
}

/* Footer styles are now imported from footer-mobile.css */
