body {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* overflow: clip; */

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid black; */
}

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid black; */
}

/* Menu styles centralized in desktop-menu.css */

#page-title {
  font-family: Raleway, sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  max-height: 100rem;
  width: 100%;
  padding-bottom: 4rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(37, 136, 228); */
}

h1 {
  font-weight: 100;
  font-family: Raleway, sans-serif;

  width: 100%;
  margin-top: 0;
  margin-bottom: 2rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(40, 228, 37); */
}

.first-row-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 8rem;
  gap: 4rem;
  padding: 2rem;

  width: 100%;
  max-height: 100%;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 50, 228); */
}

.title-and-text-container {
  display: flex;
  flex-direction: column;
  width: 55%;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(255, 0, 0); */
}

.image-container {
  display: flex;
  width: 45%;
  align-items: flex-start;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(0, 255, 0); */
}

.description-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center 20%;
  /* box-shadow: 1px 3px 30px 2px rgba(133, 143, 143, 0.646); */
  border-radius: 8px;

}

.aboutme-description {
  font-size: 1.1rem;
  padding: 0 3rem 3rem 3rem;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  color: rgba(68, 68, 68, 0.9);
  letter-spacing: 0.5px;
  word-spacing: 0.5rem;
  line-height: 1.6em;
  border-radius: 8px;

  width: 100%;
  max-height: 100%;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.workshop-description--img {
  width: 50%;
  height: 100%;

  box-shadow: 1px 3px 30px 2px rgba(133, 143, 143, 0.646);

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(129, 37, 228); */
}

.img-background {
  position: relative;
  top: 17rem;
  height: 12rem;
  width: 100%;
  background-color: aquamarine;
  z-index: -10;
}

.img-background-vertical {
  position: relative;
  top: -10rem;
  right: 35rem;
  width: 12rem;
  height: 100rem;
  background-color: rgba(163, 127, 255, 0.3);
  box-shadow: 3px;
  align-self: self-end;
  transform: rotate(30deg);
  z-index: -10;
}

.img-background-middle {
  position: relative;
  top: 18rem;
  height: 10rem;
  width: 100%;
  background-color: aquamarine;
  z-index: -1;
}

.img-background-last {
  position: relative;
  top: 18rem;
  height: 10rem;
  width: 100%;
  background-color: aquamarine;
  z-index: -10;
}

#page-title {
  font-family: Raleway, sans-serif;
}

.go-to-top {
  position: relative;
  top: 2rem;
  display: inline-block;
  width: auto;
  border: none;
  background: transparent;
  padding: 0;
  margin-bottom: 60px;
  margin-top: 60px;
  font-style: italic;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(89, 0, 255); */
}

.arrow-up {
  width: 2rem;
  height: auto;
  display: block;
}

.go-to-top:hover {
  cursor: pointer;
  background: transparent;
}

/* Footer styles moved to footer-desktop.css */
