html,
body {
  overflow-x: hidden;
}

/* ====MENU SETTINGS==== */

.menu {
  display: flex;
  flex-flow: column;
  width: 165px;
  height: 305px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  position: absolute;
  top: 20px;
  left: -200px;
  z-index: 10;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(20, 177, 35); */
}

.menu__ul {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  max-width: 115%;
  width: 160px;
  height: 300px;
  position: relative;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(228, 152, 37); */
}

.main-nav-tab {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  border-bottom: 1px solid;
  background-color: rgba(255, 255, 255, 0.808);

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(46, 37, 228); */
}
.contact {
  border-bottom: none;
}
.main-nav-tab:hover {
  background-color: rgb(255, 242, 201);
  cursor: pointer;
}

.attrib {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  color: black;
  font-family: Raleway, sans-serif;
  text-decoration: none;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(40, 228, 37); */
}
.attrib-heb {
  font-size: 1.4rem;
  font-family: 'Amatic SC', sans-serif;
}

.shoppingcart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 10;
  /* border: 2px solid blue; */
}

.shoppingcart-mobile {
  fill: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  padding: 3px;
  position: relative;
  border-radius: 5px;
}

.cart-number {
  display: none;
}

.cart-number-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  position: absolute;
  left: 55%;
  top: 35%;
  background-color: rgba(255, 255, 255);
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
}
.cart-number-mobile-header {
  position: absolute;
  top: 5px;
  left: 70px;
}
.shoppingcart-svg {
  display: none;
}

.menu.sticky {
  display: none;
}

header {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 55vh;
  max-height: 55vh;
  position: relative;

  margin-bottom: 2rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(177, 20, 143); */
}

@media only screen and (max-width: 450px) {
  header {
    margin-bottom: -1rem;
  }
}

.slide-images-container {
  display: flex;
  position: relative;
  top: 3rem;
  object-fit: contain;
  height: 83%;
  width: 100%;
  overflow: hidden;
}

.slide-image {
  /* object-fit: contain; */
  /* position: relative;
  top: 9rem; */
  height: 100%;
  width: 100vw;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(20, 177, 25); */
}

.slide-image-img {
  object-fit: contain;
  width: 100vw;
  height: 100%;
  transition: transform 1s;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(238, 255, 0); */
}

#login-tab {
  border-bottom: none;
}

#show-menu-button {
  display: none;
}
.languages-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  /* height: 80px; */
  border-top: 1px solid;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.808);

  /* border: 2px solid red; */
}

.languages-container button {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.6);
  border-radius: 5px;
  font-size: 1rem;
  height: 1.6rem;
  width: 2.5rem;
}

.category-item {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  height: 60px;
  background-color: #e1dcc1c7;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid yellowgreen; */
}

.category-item:hover {
  background-color: rgba(202, 173, 183, 0.813);
}

.reveal {
  display: inline;
  left: 160px;
}
/* ===== END OF MENU SETTINGS==== */

main {
  display: flex;
  flex-flow: column;
  align-items: center;

  max-height: 160rem;
  width: 100%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(37, 136, 228); */
}

h1 {
  font-weight: 100;
  background-color: rgba(255, 166, 0, 0.4);
  font-family: Raleway, sans-serif;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(40, 228, 37); */
}

.workshop-description-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;

  width: 100%;
  /* height: 30rem; */

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 50, 228); */
}

.workshop-description {
  background-color: rgba(245, 245, 220, 0.9);
  box-shadow: 12px 2px 30px 2px rgb(168, 163, 154);
  font-size: 1.2rem;
  padding: 1rem;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  padding: 30px;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.workshop-description--img {
  width: 70%;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  z-index: -3;

  box-shadow: 1px 3px 30px 2px rgba(133, 143, 143, 0.646);

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(129, 37, 228); */
}

.workshop-description--img-second {
  display: none;
}

.img-background {
  display: none;
  position: relative;
  top: 17rem;
  height: 12rem;
  width: 100%;
  background-color: aquamarine;
  z-index: -10;
}

.workshop-costs {
  width: 85vw;
  height: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  z-index: 3;
  font-family: Raleway, sans-serif;
  align-self: center;

  background-color: rgba(245, 245, 220, 0.9);
  box-shadow: 12px 2px 30px 2px rgb(168, 163, 154);
  text-align: center;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.contact-container {
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  width: 100%;
  padding-bottom: 1rem;

  /* border: 1px solid; */
}

.contact-block {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-bottom: 1px solid;
  padding: 25px 0 45px 0;

  /* border: 1px solid red; */
}

.contact-block-last {
  border: none;

  /* border: 1px solid blue; */
}

.whatsapp-svg {
  width: 30px;
  /* margin-right: 10px; */
}

.whatsapp-atr {
  text-decoration: none;
  /* display: flex;
  align-items: center; */

  /* border: 1px solid blue; */
}

.go-to-top {
  align-self: center;

  width: 3rem;
  height: 3rem;
  margin: 4rem;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  /* background-image: linear-gradient(
    rgba(255, 166, 0, 0.653),
    rgba(255, 0, 0, 0.553)
  ); */
  background-color: black;
  padding: 5px;
  color: rgb(62, 62, 62);

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.arrow-up {
  width: 1rem;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  padding-top: 0.5rem;
  font-family: Raleway, sans-serif;
  border-top: 1px solid;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(4, 255, 0); */
}

.columns-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(8, 0, 255); */
}

.footer-right-column,
.footer-middle-column,
.footer-left-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 30%;
  padding-top: 10px;
  padding-bottom: 30px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(89, 0, 255); */
}

.footer-middle-column {
  padding-right: 5px;
}

.footer-item {
  color: white;
  width: 9rem;
  margin-top: 10px;
  margin-bottom: 25px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid green; */
}

.attrib-footer {
  display: flex;
  flex-flow: row;
  font-size: 0.7rem;
  align-items: center;
  width: 100%;
  color: black;
  margin-bottom: 6%;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 0.5px solid rgba(66, 66, 66, 0.5);
  text-decoration: none;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(40, 228, 37); */
}

.rights-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid rgb(210, 28, 140); */
}

.rights-text {
  color: white;
  text-align: center;
  font-size: 0.9rem;
  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid green; */
}

/* Styles for Workshop Slider Buttons - Mobile */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.slider-btn--left {
  left: 10px;
  padding-bottom: 4px;
}

.slider-btn--right {
  right: 10px;
  padding-bottom: 4px;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Styles for product image loading spinner */
.product-image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* Maintains 1:1 aspect ratio */
  background-color: #f5f5f5;
  overflow: hidden;
}

.product-image-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #343a40;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.product-image.loaded {
  opacity: 1;
}

.product-image.loaded + .product-image-container::before {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide Desktop-specific buttons on mobile */
.slider-btn--desktop {
  display: none;
}
