html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-height: 100%;
  background-image: linear-gradient(
    #58cbc0d2,
    rgba(105, 209, 79, 0.785),
    rgba(218, 28, 228, 0.968)
  );

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid black; */
}

header {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 20vh;
  position: relative;
  /* top: 0; */

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid black; */
}

.main-image {
  background-image: url(../imgs/working.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 1100px;
  height: 1100px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(177, 20, 143); */
}

/* ====MENU SETTINGS==== */

.menu {
  display: flex;
  flex-flow: column;
  width: 165px;
  height: 305px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  position: relative;
  top: 10px;
  left: -200px;
  z-index: 10;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(20, 177, 35); */
}

.menu__ul {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  max-width: 115%;
  width: 160px;
  height: 300px;
  position: relative;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(228, 152, 37); */
}

.main-nav-tab {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  border-bottom: 1px solid;
  background-color: rgba(255, 255, 255, 0.808);

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(46, 37, 228); */
}
.contact {
  border-bottom: none;
}
.main-nav-tab:hover {
  background-color: rgb(255, 242, 201);
  cursor: pointer;
}

.attrib {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  width: 160px;
  color: black;
  padding-left: 10px;
  font-family: 'Raleway';
  text-decoration: none;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(40, 228, 37); */
}

#show-menu-button {
  display: none;
}

input[type='checkbox']:checked + .menu {
  left: 0;
}

.category-item {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  height: 60px;
  background-color: #e1dcc1c7;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid yellowgreen; */
}

.category-item:hover {
  background-color: rgba(202, 173, 183, 0.813);
}

.reveal {
  display: inline;
  left: 160px;
}

.category-text {
  display: flex;
  justify-content: center;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid yellowgreen; */
}

.shoppingcart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 10;
  /* border: 2px solid blue; */
}

.shoppingcart-mobile {
  fill: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  padding: 3px;
  position: relative;
  border-radius: 5px;
}

.cart-number {
  display: none;
}

.cart-number-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  position: absolute;
  left: 55%;
  top: 35%;
  background-color: rgba(255, 255, 255);
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
}
.cart-number-mobile-header {
  position: absolute;
  top: 5px;
  left: 70px;
}
.shoppingcart-svg {
  display: none;
}

.toggle-svg {
  display: none;
}

.li.cart {
  display: none;
}

#login-tab {
  border-bottom: none;
}

/* ===== END OF MENU SETTINGS==== */

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  /* border: 2px solid rgb(59, 255, 255); */
}

.loginsignup {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 40px;
  margin-bottom: 20px;
  position: relative;
  bottom: 2rem;

  border: 1px solid rgba(51, 51, 51, 0.47);
}

.loginsignup-container {
  background: rgba(255, 255, 255, 0.368);
  padding: 40px 60px;
  height: 100%;
  max-width: 100%;

  /* border: 1px solid rgb(227, 225, 214); */
}

.switch-mode {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.hide {
  display: none;
}

.switch-mode span {
  color: #ff4141;
  font-weight: 600;
}

.switch-mode span:active {
  text-decoration: underline;
  color: #ffb1b1;
  cursor: pointer;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}

.loginsignup-fields input {
  height: 32px;
  width: 90%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.loginsignup-container button {
  width: 100%;
  height: 42px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.go-to-top {
  position: absolute;
  top: 150rem;
  display: inline-block;
  width: auto;
  border: none;
  background: transparent;
  padding: 0;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.arrow-up {
  width: 2rem;
  height: auto;
  display: block;
}

.go-to-top:hover {
  border: none;
  cursor: pointer;
  background: transparent;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  padding-top: 0.2rem;
  margin-top: 1rem;
  border-top: 1px solid;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(4, 255, 0); */
}

.columns-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(8, 0, 255); */
}

.footer-right-column,
.footer-middle-column,
.footer-left-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 30%;
  padding-top: 3px;
  padding-bottom: 5px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(89, 0, 255); */
}

.footer-middle-column {
  padding-right: 5px;
}

.attrib-footer {
  display: flex;
  flex-flow: row;
  font-size: 0.5rem;
  align-items: center;
  width: 100%;
  height: fit-content;
  color: black;
  margin-bottom: 1px;
  padding: 5px;
  padding-bottom: 10px;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  line-height: 1.2;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(40, 228, 37); */
}

.rights-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  font-family: Raleway, sans-serif;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid rgb(210, 28, 140); */
}

.rights-text {
  color: white;
  text-align: center;
  font-size: 0.55rem;
  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid green; */
}
