body {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* overflow: clip; */

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid black; */
}

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid black; */
}

.main-image {
  background-image: url(../imgs/working.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 1100px;
  height: 1100px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(177, 20, 143); */
}

/* ~~~~~~ Mobile Menu ~~~~~~~ */

.menubars-svg {
  display: none;
}

#menubars-svg {
  display: none;
}

#show-menu-button {
  display: none;
}

/* ````` Mobile Menu END ``````` */

/* ~~~~~~~ Desktop Navbar ~~~~~~~~~ */

.menu {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 7;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(20, 177, 35); */
}

.menu__ul {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 50px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(228, 152, 37); */
}

.main-nav-tab {
  width: 100%;
  height: 50px;
  list-style: none;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(46, 37, 228); */
}

.main-nav-tab:hover {
  cursor: pointer;
}

/* .li.sticky:hover {
    background-color: rgba(212, 199, 171, 0.925);
  } */

a {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
  color: black;
  font-size: 1.1rem;
  font-family: 'Raleway';
  text-decoration: none;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(40, 228, 37); */
}

a:hover {
  color: rgb(152, 152, 152);
}

/* Hebrew menu items font size */
html[dir='rtl'] .attrib,
html[dir='rtl'] a,
.ul-heb .attrib {
  font-size: 0.8rem !important;
}

.categories-list {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
  border: 1px solid;
  position: relative;
  top: -20rem;
  background-color: rgba(250, 235, 215, 0.5);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  opacity: 0;
  z-index: -1;
}

.categories-list--active {
  opacity: 1;
  z-index: 1;
  transform: translateY(20rem);
}

.category-item {
  position: relative;
}

.category-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu.sticky {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 15;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(248, 248, 248, 0.95) 50%,
    rgba(255, 255, 255, 0.95) 100%
  );
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
  position: fixed;
}

.menu.hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.icons-container {
  display: none;
}
.shoppingcart-svg {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: 25px;
  height: 25px;
  left: 600px;
}

.shoppingcart-svg:hover {
  fill: rgb(121, 221, 255);
}

.cart-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: absolute;
  right: 6.5%;
  top: 10%;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
}

.main-nav-tab.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  width: 100px;
  height: 30px;
  margin: 5px;
  border: 1px solid;
  border-radius: 10px;
}

.login-btn:hover {
  color: aqua;
  cursor: pointer;
}
/* ```````Navbar END`````````` */
main {
  width: 100%;
  /* height: 100%; */
  /* border: 2px solid rgb(59, 255, 255); */
}

.loginsignup {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #bcdcfc;
  padding-top: 40px;
  margin-bottom: 20px;
}

.loginsignup-container {
  width: 40rem;
  height: 27rem;
  background: white;
  padding: 40px 60px;

  /* border: 3px solid rgb(51, 255, 0); */
}
.switch-mode {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.hide {
  display: none;
}

.switch-mode span {
  color: #ff4141;
  font-weight: 600;
}

.switch-mode span:hover {
  color: #ffb1b1;
  cursor: pointer;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}

.loginsignup-fields input {
  height: 32px;
  width: 90%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.loginsignup-container button {
  width: 300px;
  height: 42px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.go-to-top {
  position: absolute;
  top: 150rem;
  display: inline-block;
  width: auto;
  border: none;
  background: transparent;
  padding: 0;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.arrow-up {
  width: 2rem;
  height: auto;
  display: block;
}

.go-to-top:hover {
  border: none;
  cursor: pointer;
  background: transparent;
}

.footer {
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(4, 255, 0); */
}

.columns-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(4, 255, 0); */
}

.footer-right-column,
.footer-middle-column,
.footer-left-column {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 50%;
  padding-top: 3px;
  padding-bottom: 5px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(89, 0, 255); */
}

.attrib-footer {
  display: flex;
  flex-flow: row;
  font-size: 0.65rem;
  align-items: center;
  width: 30%;
  height: fit-content;
  color: black;
  margin-bottom: 1px;
  padding: 5px;
  padding-bottom: 10px;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  line-height: 1.2;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid green; */
}

.attrib-footer:hover {
  color: rgb(152, 152, 152);
}

.rights-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.5rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid rgb(210, 28, 140); */
}

.rights-text {
  color: rgb(130, 130, 130);
  font-size: 0.6rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid green; */
}
