body {
  display: flex;
  flex-flow: column;
  align-items: center;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid black; */
}

/* html, body {
    overflow-x: hidden;
  } */

header {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 2rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(177, 20, 143); */
}

.main-image {
  background-image: url(../imgs/working.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;
  height: 50vh;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(177, 20, 143); */
}

/* ====MENU SETTINGS==== */

.menu {
  display: flex;
  flex-flow: column;
  width: 165px;
  height: 305px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  position: absolute;
  top: 20px;
  left: -200px;
  z-index: 10;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(20, 177, 35); */
}

.menu__ul {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  max-width: 115%;
  width: 160px;
  height: 300px;
  position: relative;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(228, 152, 37); */
}

.main-nav-tab {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  border-bottom: 1px solid;
  background-color: rgba(255, 255, 255, 0.808);

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(46, 37, 228); */
}
.contact {
  border-bottom: none;
}
.main-nav-tab:hover {
  background-color: rgb(255, 242, 201);
  cursor: pointer;
}

.attrib {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  color: black;
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

/* Hebrew menu items font size */
html[dir='rtl'] .attrib,
.ul-heb .attrib {
  font-size: 0.8rem !important;
}

/* ~~~~ FOR DEBUGGING~~~~*/
/* border: 5px solid rgb(40, 228, 37); */

.attrib-heb {
  font-size: 1.4rem;
  font-family: 'Amatic SC', sans-serif;
}

.shoppingcart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 10;
  /* border: 2px solid blue; */
}

.shoppingcart-mobile {
  fill: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  padding: 3px;
  position: relative;
  border-radius: 5px;
}

.cart-number {
  display: none;
}

.cart-number-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  position: absolute;
  left: 55%;
  top: 35%;
  background-color: rgba(255, 255, 255);
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
}
.cart-number-mobile-header {
  position: absolute;
  top: 5px;
  left: 70px;
}
.shoppingcart-svg {
  display: none;
}

.toggle-svg {
  display: none;
}

.shoppingcart-svg {
  display: none;
}

.menu.sticky {
  display: none;
}

.main-images-container {
  display: flex;
  overflow: hidden;
  height: 70%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(21, 224, 255); */
}

.workshop-image {
  width: 100%;
  transition: transform 1s;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 4px solid rgb(20, 177, 93); */
}

#login-tab {
  border-bottom: none;
}

#show-menu-button {
  display: none;
}

.languages-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  /* height: 80px; */
  border-top: 1px solid;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.808);

  /* border: 2px solid red; */
}

.languages-container button {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.6);
  border-radius: 5px;
  font-size: 1rem;
  height: 1.6rem;
  width: 2.5rem;
}

input[type='checkbox']:checked + .menu {
  left: 0;
}

.category-item {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  height: 60px;
  background-color: #e1dcc1c7;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid yellowgreen; */
}

.category-item:hover {
  background-color: rgba(202, 173, 183, 0.813);
}

.reveal {
  display: inline;
  left: 160px;
}
/* ===== END OF MENU SETTINGS==== */

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(37, 136, 228); */
}

h1 {
  font-weight: 100;
  font-family: Raleway, sans-serif;
  text-align: center;

  align-self: center;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 2px solid rgb(40, 228, 37); */
}

.first-row-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 5rem;
  padding: 10px;

  width: 97%;
  max-height: 100%;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 50, 228); */
}

.columns-wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  background-color: rgba(245, 245, 220, 0.9);
  box-shadow: 12px 2px 30px 2px rgb(168, 163, 154);
  font-size: 1.3vw;
  padding: 3rem;
  box-sizing: border-box;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 183, 228); */
}

.column-box {
  display: flex;
  flex-flow: column;
  padding: 20px;
  margin-bottom: 2.5rem;
  border: 2px solid rgb(203, 203, 181);
  width: 100%;
  text-align: center;
  font-size: 1.3rem;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 50, 228); */
}

h3 {
  font-family: Raleway, sans-serif;
  margin: 0 15px 25px 15px;
}

.shipping-policy,
.return-policy,
.workshop-description {
  background-color: rgba(245, 245, 220, 0.9);
  box-shadow: 12px 2px 30px 2px rgb(168, 163, 154);
  font-size: 4vw;
  padding: 3rem;
  box-sizing: border-box;
  margin-bottom: 3rem;

  width: 90%;
  max-height: 100%;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.underline-bold {
  text-decoration: underline;
  font-weight: 800;
}

.go-to-top {
  position: absolute;
  top: 150rem;
  display: inline-block;
  width: auto;
  border: none;
  background: transparent;
  padding: 0;

  /* ~~~~ FOR DEBUGGING~~~~ */
  /* border: 2px solid rgb(37, 155, 228); */
}

.arrow-up {
  width: 2rem;
  height: auto;
  display: block;
}

.go-to-top:hover {
  border: none;
  cursor: pointer;
  background: transparent;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  padding-top: 0.2rem;
  margin-top: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(4, 255, 0); */
}

.columns-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(8, 0, 255); */
}

.footer-right-column,
.footer-middle-column,
.footer-left-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 30%;
  padding-top: 3px;
  padding-bottom: 5px;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 3px solid rgb(89, 0, 255); */
}

.footer-middle-column {
  padding-right: 5px;
}

.attrib-footer {
  display: flex;
  flex-flow: row;
  font-size: 0.5rem;
  align-items: center;
  width: 100%;
  height: fit-content;
  color: black;
  margin-bottom: 1px;
  padding: 5px;
  padding-bottom: 10px;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  line-height: 1.2;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 5px solid rgb(40, 228, 37); */
}

.rights-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  font-family: Raleway, sans-serif;

  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid rgb(210, 28, 140); */
}

.rights-text {
  color: white;
  text-align: center;
  font-size: 0.55rem;
  /* ~~~~ FOR DEBUGGING~~~~*/
  /* border: 1px solid green; */
}
