<!-- Favicon links - Add to the head section of each HTML file -->
<!-- For main index.html (in the frontend root) -->
<link rel="icon" href="./imgs/icons/favicon.svg" type="image/svg+xml" />
<link rel="icon" href="./imgs/icons/favicon.png" type="image/png" />
<link rel="apple-touch-icon" href="./imgs/icons/favicon.png" />

<!-- For HTML files in the frontend/html directory -->
<link rel="icon" href="../imgs/icons/favicon.svg" type="image/svg+xml" />
<link rel="icon" href="../imgs/icons/favicon.png" type="image/png" />
<link rel="apple-touch-icon" href="../imgs/icons/favicon.png" />

<!-- For HTML files in subdirectories of frontend/html (e.g., categories) -->
<link rel="icon" href="../../imgs/icons/favicon.svg" type="image/svg+xml" />
<link rel="icon" href="../../imgs/icons/favicon.png" type="image/png" />
<link rel="apple-touch-icon" href="../../imgs/icons/favicon.png" />

<!-- Instructions:
1. Choose the appropriate links based on the file location
2. Copy and paste them right after the <title> tag in each HTML file
3. Remember to maintain the correct relative paths to the favicon files
-->
